[package]
name = "frankenstein"
version = "0.5.2"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
description = "Telegram bot API client for Rust"
edition = "2018"
license = "WTFPL"
repository = "https://github.com/ayrat555/frankenstein"
readme = "README.md"
keywords = ["request",  "http", "client", "bot", "telegram"]
categories = ["web-programming::http-client"]

[features]
default = ["impl"]
impl = ["ureq", "multipart", "mime_guess", "serde_json"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }

[dependencies.ureq]
version = "2.0"
optional = true

[dependencies.multipart]
version = "0.18"
optional = true

[dependencies.mime_guess]
version = "2.0"
optional = true

[dependencies.serde_json]
version = "1.0"
optional = true

[dev-dependencies]
mockito = "0.30"
isahc = "1.3"