[package]
name = "frankenstein"
version = "0.10.0"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
description = "Telegram bot API client for Rust"
edition = "2018"
license = "WTFPL"
repository = "https://github.com/ayrat555/frankenstein"
readme = "README.md"
keywords = ["request", "http", "client", "bot", "telegram"]
categories = ["web-programming::http-client"]

[[example]]
name = "get_me"
required-features = ["http-client"]

[[example]]
name = "reply_to_message_updates"
required-features = ["http-client"]

[[example]]
name = "async_get_me"
required-features = ["async-http-client"]

[[example]]
name = "async_reply_to_message_updates"
required-features = ["async-http-client"]

[[example]]
name = "api_trait_implementation"
required-features = ["telegram-trait"]

[features]
default = ["http-client"]
http-client = ["ureq", "multipart", "mime_guess", "telegram-trait"]
telegram-trait = ["serde_json"]
async-http-client = ["reqwest", "tokio", "async-telegram-trait"]
async-telegram-trait = ["async-trait", "serde_json"]

[dependencies]

[dependencies.async-trait]
version = "0.1"
optional = true

[dependencies.reqwest]
version = "0.11"
features = ["multipart", "stream"]
optional = true

[dependencies.tokio]
version = "1.16"
features = ["fs"]
optional = true

[dependencies.mime_guess]
version = "2"
optional = true

[dependencies.multipart]
version = "0.18"
default-features=false
features=['client']
optional = true

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.derive_builder]
version = "0.10"

[dependencies.serde_json]
version = "1"
optional = true

[dependencies.ureq]
version = "2"
optional = true

[dev-dependencies]
isahc = "1"
mockito = "0.30"
serde_json = "1"
tokio = { version = "1.16", features = ["full"] }
